hw3/.vscode/launch.json
hw3/.vscode/tasks.json
hw3/bin/Debug/net5.0/hw3.deps.json
hw3/bin/Debug/net5.0/hw3.dll
hw3/bin/Debug/net5.0/hw3.exe
hw3/bin/Debug/net5.0/hw3.pdb
hw3/bin/Debug/net5.0/hw3.runtimeconfig.dev.json
hw3/bin/Debug/net5.0/hw3.runtimeconfig.json
hw3/bin/Debug/net5.0/ref/hw3.dll
hw3/obj/hw3.csproj.nuget.dgspec.json
hw3/obj/hw3.csproj.nuget.g.props
hw3/obj/hw3.csproj.nuget.g.targets
hw3/obj/project.assets.json
hw3/obj/project.nuget.cache
hw3/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
hw3/obj/Debug/net5.0/apphost.exe
hw3/obj/Debug/net5.0/hw3.AssemblyInfo.cs
hw3/obj/Debug/net5.0/hw3.AssemblyInfoInputs.cache
hw3/obj/Debug/net5.0/hw3.assets.cache
hw3/obj/Debug/net5.0/hw3.csproj.AssemblyReference.cache
hw3/obj/Debug/net5.0/hw3.csproj.CoreCompileInputs.cache
hw3/obj/Debug/net5.0/hw3.csproj.FileListAbsolute.txt
hw3/obj/Debug/net5.0/hw3.dll
hw3/obj/Debug/net5.0/hw3.GeneratedMSBuildEditorConfig.editorconfig
hw3/obj/Debug/net5.0/hw3.genruntimeconfig.cache
hw3/obj/Debug/net5.0/hw3.pdb
hw3/obj/Debug/net5.0/ref/hw3.dll
hw3/PractTask_3.docx
